@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700;800&display=swap');

*,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merienda', cursive, serif, sans-serif;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #ee9958;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav li {
  list-style-type: none;
  padding: 0.5rem;
  cursor: pointer;
}

.btn {
  background-color: #8ebe43;
  color: #202801;
  font-weight: bold;
  border: 1px solid #ee9958;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

/* container area */

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.search-input {
  background-color: #eee;
  line-height: 1.6rem;
  margin-right: 1.4rem;
  border: 1px solid gray;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  outline: 1px solid transparent;
}

.search-button {
  background-color: #ee9958;
  padding: 0.3rem 0.8rem;
  border: 0;
  border-radius: 1rem;
  outline: 1px solid transparent;
  cursor: pointer;
}

.card {
  flex-basis: 250px;
  margin-bottom: 2rem;
  padding: 0.7rem;
}

.card-image {
  width: 100%;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.restaurant-rating {
  background-color: yellowgreen;
  padding: 0 0.5rem;
  border-radius: 50%;
}

.restaurant-address {
  font-size: 0.7rem;
}

.restaurant-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20;
  padding-top: 20px;
}

/* shimmer */
.shimmer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shimmer {
  width: 250px;
  height: 250px;
  padding: 0.7rem;
  margin: 2rem 0.5rem;
}

.shimmer-heading,
.shimmer-tags,
.shimmer-footer,
.shimmer-image {
  background-color: #efefef;
  margin-top: 0.5rem;
  height: 10%;
}

.shimmer-image {
  width: 100%;
  height: 40%;
}

.shimmer-content {
  width: 100%;
  height: 60%;
}

.shimmer-heading {
  width: 50%;
}

.shimmer-tags {
  width: 100%;
}

.shimmer-footer {
  width: 20%;
}

/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ee9958;
}

.footer > img {
  width: 50px;
}

.social-media > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media > ul > li {
  list-style-type: none;
}

.social-media > ul > li > img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}
